html {
  height: 100%;
  background: white;
}
body {
  border: 1px solid #000;
  background-image: url("./view/images/background2.png");
  background-size: cover;
  height: 100%;
  color: lightgrey;
}